/* You can add global styles to this file, and also import other style files */
html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;}

body{
  height: 100vh;
display: grid;
place-items: center;
background-color: rgb(17, 81, 130);
}
